
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.containerDiv {
    
    width: 20em;
}

.instagram-p {
    width: 100vw;
    height: 3em;
    margin: 0 auto 0 5px;
    background: linear-gradient(180deg, rgba(164, 252, 241, 0.99) 0%, rgba(164, 252, 241, 0.01) 83.33%);
}

