.bookBtn {
    background: #FFFFFF;
    border: 3px solid #472B01;
    border-radius: 7px;
    font-family: inherit;
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
}