
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* .containerDiv {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
} */

.bookBtn {
    background: #FFFFFF;
    border: 3px solid #472B01;
    border-radius: 7px;
    font-family: inherit;
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    width: 10em;
    
}

.closeBtn {
    position: absolute;
    top: 2em;
    left: 21em; 
    padding: .3em;
    display: none;
    background: rgba(1, 98, 5, 0.13);
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 2;
}