
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.listenContainer {
    width: 100vw;
    height: 30em;
    margin-top: 2em;
    padding: 1em 0 1em 0;
    background-color:rgba(71, 43, 1, 0.71);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.listenInnerContainer {
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
    text-align: center;
    height: 20em;
    width: 20em;
    margin: 1em auto 0 5px;
    color: white;
}