
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.containerDiv {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.topDiv {
    width: 100vw;
    height: 7em;
    margin: 0 auto;
    background: linear-gradient(180deg, #A4FCF1 0%, rgba(164, 252, 241, 0) 67.19%);
    border-top: 1px solid #A4FCF1;
   
}

.imgDiv {
    width: 100vw;
    height: 50em;
    background-color: rgba(1, 98, 5, 0.83);
    background-blend-mode: screen;
    background-position: 55% 35%; 
    background-size: cover;
    color: white;
}

.bottomDiv {
    width: 100vw;
    height: 3em;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(164, 252, 241, 0.99) 0%, rgba(164, 252, 241, 0.01) 83.33%);

}

