
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 5px;
}

.containerDivHero {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.topDiv {
    width: 100vw;
    height: 7em;
    margin: 0 auto;
    background: linear-gradient(180deg, #A4FCF1 0%, rgba(164, 252, 241, 0) 67.19%);
    border-top: 1px solid #A4FCF1;
}

.welcomeDiv {
    margin-top: 0;
    padding: 5px;
}

.imgDiv {
    width: 100vw;
    height: 17em;
    background-color: rgba(1, 98, 5, 0.83);
    background-blend-mode: screen;
    background-size: 300%;
    background-position: 35% 35%;
    color: white;
    background-repeat: no-repeat;
    /*transition: all .5s;*/
}

/*.imgDiv:hover,
.imgDiv:focus {
    transform: scale(1.1);
}*/

.imgDiv-p {
    position: relative;
    top: 1.5em;
    left: 30.5em;
    width: 9em;
    font-size: .5rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-shadow: 3px 3px 20px #472B01, 3px 3px 20px #472B01, -3px -3px 20px #472B01, -3px -3px 20px #472B01,
         1px 1px 2px #472B01, 1px 1px 2px #472B01, -1px -1px 2px #472B01, -1px -1px 2px #472B01;
}

.bottomDiv {
    width: 100vw;
    height: 3em;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(164, 252, 241, 0.99) 0%, rgba(164, 252, 241, 0.01) 83.33%);
}

@media (min-width: 600px) {

    .imgDiv {
        width: 100vw;
        height: 22em;
        background-blend-mode: screen;
        background-size: 200%;
        background-position: 35% 33%;
        background-repeat: no-repeat;
    }

    .imgDiv-p {
        position: relative;
        top: 1em;
        left: 40em;
        width: 9em;
        font-size: .8rem;
        
    }

    h1 {
        letter-spacing: 0.3em;
        font-size: 1.8rem;
    }
}

@media (min-width: 1025px) {

    .imgDiv {
        width: 100vw;
        height: 50em;
        background-blend-mode: screen;
        background-position: 55% 35%; 
        background-size: cover;
    }

    

    .imgDiv-p {
        position: relative;
        top: 12em;
        left: 55em;
        width: 25em;
        font-size: 1rem;
    }

}