
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.modalCloseBtn {
    position: absolute;
    top: 2em;
    left: 21em;
    padding: .3em;
    display: none;
    background: rgba(1, 98, 5, 0.13);
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 2;
}