
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.youTubeContainer {
    margin: 1em 0 auto 5px;
    border: 1px solid red;
}

.youTubeInnerContainer {
    margin: 1em 0 auto 5px;
    width: 85vw;
    height: 20em;
    border: 1px solid blue;
}

.youtubeiframe {
    height: 20em;
    width: 85vw;
    border: 1px solid violet;
}

@media (min-width: 600px) {

    .youTubeContainer {
        margin: 0 auto;
    }

    .youTubeInnerContainer {
        margin: 1em auto 1em auto;
        width: 70vw;
        height: 30em;
    }

    .youtubeiframe {
        width: 70vw;
        height: 30em;
        z-index: 3;
    }

    
}
@media (min-width: 1025px) {

    .youTubeInnerContainer {
        margin: 1em auto 1em auto;
        width: 50vw;
        height: 30em;
    }

    .youtubeiframe {
        width: 50vw;
        height: 30em;
        z-index: 6;
    }
}