@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300&display=swap');

body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.contactFormBig {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*z-index: 4;*/
    background-color: var(--sheer-green);

}

.contactFormParent {
    position: absolute;
    color: black;
    top: 5em;
    left: 0;
    padding: .3em .3em .3em .9em;
    display: none;
    background: white;
    border: 1px solid var(--forest);
    border-radius: 7px;
    z-index: 3;
    height: auto;
    width: 100%;
    letter-spacing: .07rem;
    font-family: var(--ff-main1);
    text-align: left;
}

h2 {
    font-size: 1rem;
}

textarea {
    color: black;
    width: 95%;
    font-family: inherit;
    padding: .4em;
    margin-bottom: .7em;
    height: 7em;
    border: 1px solid black;
    border-radius: 4px; 
}

input {
    width: 95%;
    color: black;
    font-family: inherit;
    padding: .4em;
    margin-bottom: .7em;
    border: 1px solid black;
    border-radius: 4px; 
}

.modalBtnClose {
    color: var(--dark-blue);
    float: right;
    letter-spacing: .2rem;
    text-transform: uppercase;
    z-index: 5;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 2.7rem;
    transform: rotate(45deg);
    font-weight: 700;
}

.modalBtnSubmit {
    background: var(--dark-blue);
    color: white;
    letter-spacing: .2rem;
    text-transform: uppercase;
    z-index: 5;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: .7em;
    margin: 0 auto .7em auto;
    width: 95%;
    border-radius: 4px; 
}

@media (min-width: 600px) {
   
   
}
@media (min-width: 1025px) {}