@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300&display=swap');

:root {
    --light-blue: #B2EBF2;
    --vanilla: #FFFAF3;
    --dark-blue: #0097A7;
    --ff-accent: 'Martel', serif;
    --ff-main1: 'Roboto Flex', sans-serif;
    --ff-main2: 'Roboto', sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.contactFormParentSched {
    position: absolute;
    color: black;
    top: 5em;
    left: 0;
    padding: .3em .3em .3em .9em;
    display: none;
    background: white;
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 3;
    height: auto;
    width: 100%;
    letter-spacing: .07rem;
    font-family: var(--ff-main1);
    text-align: left;
}

h2 {
    font-size: 1rem;
}

.contactFormParentNav {
    position: absolute;
    color: black;
    top: 5em;
    left: 0;
    padding: .3em .3em .3em .9em;
    display: none;
    background: white;
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 3;
    height: auto;
    width: 100%;
    letter-spacing: .07rem;
    font-family: var(--ff-main1);
    text-align: left;
}

textarea {
    /* height: 10em; */
    color: black;
    width: 95%;
    font-family: inherit;
    padding: .4em;
    margin-bottom: .7em;
    height: 7em;
    border: 1px solid black;
    border-radius: 4px; 
}

input {
    width: 95%;
    color: black;
    font-family: inherit;
    padding: .4em;
    margin-bottom: .7em;
    border: 1px solid black;
    border-radius: 4px; 
}

.modalBtnClose {
    color: var(--dark-blue);
    float: right;
    /* background: rgba(1, 98, 5, 0.13); */
    /* border: 1px solid #016205; */
    /* border-radius: 7px; */
    letter-spacing: .2rem;
    text-transform: uppercase;
    z-index: 5;
    cursor: pointer;
    /* border: 1px solid grey; */
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 2.7rem;
    transform: rotate(45deg);
    font-weight: 700;
}

.modalBtnSubmit {
    background: var(--dark-blue);
    color: white;
    /* float: right; */
    /* background: rgba(1, 98, 5, 0.13); */
    /* border: 1px solid #016205; */
    /* border-radius: 7px; */
    letter-spacing: .2rem;
    text-transform: uppercase;
    z-index: 5;
    cursor: pointer;
    /* border: 1px solid grey; */
    border: none;
    text-align: center;
    padding: .7em;
    margin: 0 auto .7em auto;
    width: 95%;
    border-radius: 4px; 
}

@media (min-width: 600px) {

    .contactFormParentNav, 
    .contactFormParentSched {
        height: 50vh;
        width: 40vw; 
    }

   
}
@media (min-width: 1025px) {}