@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300&display=swap');

:root {
    --light-blue: #B2EBF2;
    --vanilla: #FFFAF3;
    --dark-blue: #0097A7;
    --ff-accent: 'Martel', serif;
    --ff-main1: 'Roboto Flex', sans-serif;
    --ff-main2: 'Roboto', sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.contactFormParentSched {
    position: absolute;
    color: #472B01;
    top: 50%;
    left: 1em;
    padding: .3em;
    display: none;
    background: white;
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 3;
    height: auto;
    width: auto;
    letter-spacing: .07rem;
}

.contactFormParentNav {
    position: absolute;
    color: #472B01;
    top: 2em;
    /* left: -18em; */
    padding: .3em;
    display: none;
    background: white;
    border: 1px solid #016205;
    border-radius: 7px;
    z-index: 3;
    height: auto;
    width: auto; 
    pointer-events: auto;
    letter-spacing: .07rem;
}

textarea {
    height: 10em;
}

input {
    width:15em;
}

.modalBtn {
    color: #472B01;
    float: right;
    background: rgba(1, 98, 5, 0.13);
    border: 1px solid #016205;
    border-radius: 7px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    cursor: pointer;
}

@media (min-width: 600px) {

    .contactFormParentNav, 
    .contactFormParentSched {
        height: 50vh;
        width: 40vw; 
    }

   
}
@media (min-width: 1025px) {}