@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap&family=Quicksand:wght@500;700&family=Martel:wght@200');

body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navContainerOuter {
    position: absolute;
    background-attachment: fixed;
    top: 1em;
    left: 18.5em;
    height: 3500px;  
    pointer-events: none;
    
} 

.navContainer {   
    position: sticky; 
    height: 80vh;
    width: 89.594px;
    top: 1em;
    left: 1em;
    z-index: 2;
    pointer-events: none;
}

.hamburger {
    position: relative; 
    height: 3em;
    width: 3em;
    background: #FFFFFF;
    border: 1px solid #472B01;
    box-shadow: -4px -4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    display: block;
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
}

#hamburger-innerdiv {
    position: relative;
    background: #02C8AF;
    margin: .3em auto .3em auto;
    height: .3em;
    width: 2em;
    border-radius: 4px; 
    transition: 0.3s;
}

.change.hambar1 {
    transform: rotate(45deg);
    top: .5em;
}

.change.hambar2 {
    opacity: 0;
}

.change.hambar3 {
    transform: rotate(-45deg);
    bottom: .7em;
}

.navBar, nav {
    color: #472B01;
    display: block;
    visibility: visible;
    position: relative; 
    width: 7em;
    height: 35em;
    background: #FFFFFF;
    border: 1px solid #016205;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 2.5em auto 0 auto;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;    
}

.hideNav {
    display: none;
    visibility: hidden;
}

.navLi {
    position: relative;
    left: -35px;
    background: rgba(1, 98, 5, 0.13);
    border: 1px solid #016205;
    border-radius: 7px;
    width: 6em;
    height: 3.7em;
    padding: .2em;
    margin: 1.5em auto 1.5em auto;
    text-transform: uppercase;
    pointer-events: auto;
    cursor: pointer;
}

.navUl {
    list-style-type: none;
    pointer-events: none;
}

.navLiAnchor {
    flex-wrap: wrap;
    text-decoration: none;
    color: #472B01;
}

.bookBtn {
    color: #472B01;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border: 1px solid #016205; 
    border-radius: 7px;
    width: 6em;
    height: 3.7em;
    padding: .2em;
    margin: 1.5em auto 1.5em auto;
    background-color: rgba(1, 98, 5, 0.13);
    letter-spacing: .05rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 9;
    transition: all .5s; 
}

.bookBtn:hover,
.bookBtn:focus {
    transform: scale(1.2);
    cursor: pointer;
}  

@media (min-width: 600px) {

    .navContainerOuter {
        font-family: 'Martel', serif;
    }

    .navContainer {
        width: 600px;
        position: relative;
    }
 
    .navBar, nav, .hideNav {
        flex-direction: row;
        width: 40em;
        height: 2000em;
        background: none;
        position: absolute;
        background-attachment: fixed;
        top: -2em;
        left: 1em;
        font-family: 'Martel', serif;
        display: block;
        visibility: visible;
        border: none;
    }

    .navUl {
        display: flex;
        left: 20em;
    }

    .navLi {
        position: relative;
        left: -35px; 
        border: none;
        background: none;
        border-radius: 7px;
        width: 7em;
        height: 2.7em;
        padding: 0em;
        margin: 1.5em auto 1.5em auto;  
        text-align: center;
    }

    .navLi p {
        transition: 0.2s;
        pointer-events: auto;
        /*transition: all 2s ease-in-out;*/
    }

    .navLi p:hover,
    .navLi p:focus {
        border: 1px solid #016205;
        border-radius: 7px;
    }

    /* .navLi p {
        text-shadow: 3px 3px 20px white, 3px 3px 20px white, -3px -3px 20px white, -3px -3px 20px white,
         1px 1px 2px white, 1px 1px 2px white, -1px -1px 2px white, -1px -1px 2px white;
    } */

    .navLiAnchor {
        flex-wrap: nowrap;
        font-size: .9rem;
        margin-bottom: .5em;
        pointer-events: auto;
    }

    .hamburger {
        display: none;
        visibility: hidden;
    } 

    .bookBtn {
        margin: 0 auto 0 17em;
        text-align: center;
        background: white;
        position: sticky;
        top: 0;
    }

}
@media (min-width: 1025px) {

    .navContainerOuter {
        left: 22em;
    }


    .navBar, nav, .hideNav {
        display: flex;
        width: 1500px;
        border: none;
    }


    .bookBtn {
        margin: 1.5em auto 7.5em auto;
        width: 11em;
        height: 3.7em;
        padding: .5em;
        letter-spacing: .06rem;   
    }
}