@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300&display=swap');

:root {
    --light-blue: #B2EBF2;
    --dark-blue: #0097A7;
    --vanilla: #FFFAF3;
    --dark-teal-drop-1: rgba(4, 96, 97, 0.16);
    --dark-teal-drop-2: rgba(6, 150, 151, 0.16);
    --ff-accent: 'Martel', serif;
    --ff-main1: 'Roboto Flex', sans-serif;
    --ff-main2: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navContainerOuter {
    position: absolute;
    /* background-attachment: fixed;  needed for sticky button*/
    /* top: 1em; */
    /* left: 14em; */
    /* left: .2em; */
    /* height: 3500px;   needed for sticky button*/
    /* padding-bottom: 4.1em; */
    pointer-events: none;
    /* border: 2px solid red;   */
    font-family: var(--ff-main1); 
    /* border: 1px solid red;  */
} 

.navContainer {   
    /* position: sticky;  */
    /* height: 80vh; */
    /* width: 89.594px; needed for sticky button */
    /* width: 10em;  */
    border-radius: 4px;
    /* top: 1em;  */
    /* left: 2em; */
    z-index: 2;
    pointer-events: none;
    border: 2px solid transparent;  
    /* border: 2px solid purple;  */
    /* padding-bottom: 4.1em; */
}

.hamburger {
    position: absolute; 
    /* float: left;   */
    height: 2.2em;
    width: 2.2em;
    /* background: var(--light-blue);  */
    border: none;
    /* box-shadow: -4px -4px 2px rgba(0, 0, 0, 0.25); */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: right; */
    display: block;
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
    top: 1.5em; 
    z-index: 3;
}

.hambarContainer {
    padding-top: .3em;
    
} 

#hamburger-innerdiv {
    position: relative;
    background: var(--dark-blue);
    margin: .3em auto .3em auto;
    height: .2em;
    width: 1.5em;
    border-radius: 4px; 
    border: none;
    transition: 0.3s;
}

.change.hambar1 {
    transform: rotate(45deg);
    top: .5em;
}

.change.hambar2 {
    opacity: 0;
}

.change.hambar3 {
    transform: rotate(-45deg);
    bottom: .5em;
}

.navBar, nav {
    /* color: #472B01; */
    display: block; 
    visibility: visible;
    position: relative;  
    /* width: 9em; */
    /* height: 31em; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px var(--dark-teal-drop-1), 0px 8px 16px var(--dark-teal-drop-2);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 5em auto 0 auto; 
    padding-bottom: 4.1em;
    /* justify-content: left;
    align-items: left;  
    text-align: left; */
    font-size: .8rem; 
    /*font-weight: 700;*/
    z-index: 2;
    /* border: 1px solid lightseagreen; */
    /* background: lightseagreen; */
}

.hideNav {
    display: none;
    visibility: hidden;
}

.navUl {
    list-style-type: none;
    pointer-events: none;
    /* border: 1px solid hotpink;  */
    /* background: hotpink;  */
    text-align: right;
}

.navLi {
    /* border: 1px solid #016205;  */
    border-radius: 7px; 
    /* width: 8em;
    height: 3.7em; */
    padding: .5em;
    text-transform: uppercase;
    pointer-events: auto;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .05rem;

}

.navLiAnchor {
    flex-wrap: wrap;
    text-decoration: none;
    color: #472B01;
    /* border: 1px solid red; */
    text-align: right;
}

.bookBtn {
    /* color: #472B01; */
    letter-spacing: .05rem;
    border-radius: 7px;
    /* width: 7em; */
    height: 3.7em;
    padding: .5em;
    /* margin-left: 2em;   */
    /* background-color: rgba(1, 98, 5, 0.13); */
    cursor: pointer;
    pointer-events: auto;
    z-index: 9;
    transition: all .5s; 
    border: none;
    /* border: 1px solid #016205;   */
    background-color: transparent;
    text-align: right; 
    font-size: .7rem;
    position: absolute;
    right: 0;
}

.bookBtn:hover,
.bookBtn:focus {
    transform: scale(1.2);
    cursor: pointer;
}  

@media (min-width: 600px) {


    .navContainer {
        width: 600px;
        position: relative;
    }
 
    .navBar, nav, .hideNav {
        flex-direction: row;
        width: 40em;
        height: 2000em;
        background: none;
        position: absolute;
        background-attachment: fixed;
        top: -2em;
        left: 1em;
        display: block;
        visibility: visible;
        border: none;
    }

    .navUl {
        display: flex;
        left: 20em;
    }

    .navLi {
        position: relative;
        left: -35px; 
        border: none;
        background: none;
        border-radius: 7px;
        width: 7em;
        height: 2.7em;
        padding: 0em;
        margin: 1.5em auto 1.5em auto;  
        text-align: center;
    }

    .navLi p {
        transition: 0.2s;
        pointer-events: auto;
        transition: border .5s ease-in-out;
    }

    .navLi p:hover,
    .navLi p:focus {
        border: 1px solid #016205;
        border-radius: 7px;
    }

    .navLiAnchor {
        flex-wrap: nowrap;
        font-size: .9rem;
        margin-bottom: .5em;
        pointer-events: auto;
    }

    .hamburger {
        display: none;
        visibility: hidden;
    } 

    .bookBtn {
        margin: 0 auto 0 17em;
        text-align: center;
        background: white;
        position: sticky;
        top: 0;
    }

}
@media (min-width: 1025px) {

    .navContainerOuter {
        left: 22em;
    }


    .navBar, nav, .hideNav {
        display: flex;
        width: 1500px;
        border: none;
    }


    .bookBtn {
        margin: 1.5em auto 7.5em auto;
        width: 11em;
        height: 3.7em;
        padding: .5em;
        letter-spacing: .06rem;   
    }
}