
.hamburger {
    position: absolute;
    top: 1em;
    left: 25em;
    height: 4em;
    width: 4em;
    background: #FFFFFF;
    border: 1px solid #472B01;
    box-shadow: -4px -4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.hamburger-innerdiv {
    position: relative;
    background: #02C8AF;
    margin: .2em auto .2em auto;
    height: .4em;
    width: 3em;
    border-radius: 4px;
    
}

.navUl {
    list-style-type: none;
}

.navLiAnchor {
    flex-wrap: wrap;
    text-decoration: none;
    
}
