
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.footerContainer {
    width: 100vw;
    height: 20em;   
    margin-top: 2em;
    /*background-color:rgba(212, 253, 212, 0.595);
     background: linear-gradient(180deg, #FFFFFF 40.63%, rgba(1, 98, 5, 0.44) 99.48%);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

.footerContainer p {
    padding-top: 9.5em;  
    /* position: absolute;
        bottom: 0;
        left: 20em; */
    color: white;
    margin-left: 5px;
}

.socialMediaContainer {
    display: flex;
    width: 80vw;
    margin-left: 5px;
    padding-top: 1em;
}

.socialMediaIcon {
    height: 4em;
    width: 4em;
    background-size: contain;
    margin: 1em;
    justify-content: space-between;
}


@media (min-width: 600px) {
    .socialMediaContainer {
        margin: 0 auto;
        width: 40vw;
    }

    .socialMediaIcon {
        margin: 2em auto;

    }

    .footerContainer p {
        padding-top: 7.5em; 
    }
}
@media (min-width: 1025px) {


}