
body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.footerContainer {
    width: 100vw;
    height: 20em;   
    margin-top: 2em;
    /*background-color:rgba(212, 253, 212, 0.595);
     background: linear-gradient(180deg, #FFFFFF 40.63%, rgba(1, 98, 5, 0.44) 99.48%);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

.footerContainer p {
    /* padding-top: 20em;  */
    /* position: absolute;
        bottom: 0;
        left: 20em; */
    color: white;
    margin-left: 5px;
}

@media (min-width: 600px) {}
@media (min-width: 1025px) {}