
@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300&display=swap');

:root {
  --dark: black;
  --light-blue: #B2EBF2;
  --dark-blue: #0097A7;
  --vanilla: #FFFAF3;
  --ff-accent: 'Martel', serif;
  --ff-main1: 'Roboto Flex', sans-serif;
  --ff-main2: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  color: var(--dark);
  background: var(--vanilla);
}

* {
  box-sizing: border-box;

}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
